{% extends 'shablon.html' %}

{% block title %}
    Main page
{% endblock %}

{% block content %}
  <div class="container time-container">
    <div class="time-box text-center">
      <h5>Current Date and Time</h5>
      <p id="currentDateTime" class="lead"></p>
    </div>
  </div>

  <div id="datetime-container"></div>
    <script src="script.js"></script>

  <!-- JavaScript to update date and time -->
  <script>
    function updateDateTime() {
      const now = new Date();
      const formattedDateTime = now.toLocaleString();
      document.getElementById('currentDateTime').textContent = formattedDateTime;
    }

    // Update date and time every second
    setInterval(updateDateTime, 1000);

    // Initial call to display date and time immediately
    updateDateTime();
  </script>

<hr>

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.nintendo.com/eu/media/images/10_share_images/games_15/nintendo_dsiware_8/H2x1_DSiWare_JaggedAlliance_image1600w.jpg"
                class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="https://gaming-cdn.com/images/products/7232/616x353/sid-meier-s-civilization-vi-xbox-one-xbox-series-x-s-xbox-one-xbox-series-x-s-game-microsoft-store-europe-cover.jpg?v=1706719345"
                class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://image.winudf.com/v2/image1/Y29tLmNuY20uZ2FtZXNfc2NyZWVuX3J1LVJVXzBfMTcyMDk0ODExN18wNzI/screen-0.webp?fakeurl=1&type=.webp"
                class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="https://newcdn.igromania.ru/articles/pics/tmp/images/2024/3/26/665a9ef8-3be3-4a55-bcdf-90c2df167c3e.webp"
            class="d-block w-100" alt="...">
            </div>
        </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>

<hr>

</div>

<hr>

<div class = "container">
    <div class = "row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="../static/image/ja.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jugged Alliance Universe</h5>
                    <p class="card-text">Пошаговая тактическая игра с элементами ролевой,
                        где игроки управляют отрядом наемников и выполняют разные миссии.</p>
                    <a href="../static/image/ja.jpg"
                    class="btn btn-outline-danger">{{link}}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="../static/image/civ.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Civilization</h5>
                    <p class="card-text"> Пошаговая стратегия, в которой игроки управляют цивилизацией от
                        древности до будущего, развивая ее и взаимодействуя с другими цивилизациями.</p>
                    <a href="https://en.wikipedia.org/wiki/Civilization_%28video_game%29"
                    class="btn btn-outline-danger">{{link}}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="../static/image/conq.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Command and conquer</h5>
                    <p class="card-text"> Стратегия в реальном времени, где игрокам предстоит управлять армией и
                        захватывать территории в мире футуристического конфликта.</p>
                    <a href="https://en.wikipedia.org/wiki/Command_%26_Conquer"
                    class="btn btn-outline-danger">{{link}}</a>
                </div>
            </div>
        </div>
</div>
</div>

<hr>

{% endblock %}